// Font Family
$font-family-heading: 'Roboto', sans-serif;
$font-family-body: 'Roboto', sans-serif;


// Theme Colors ---------------
$primary-color: #ff5e14;
$secondary-color: #00235a;

$bg_primary: #ff5e14;
// Text Color
$heading-text-color:#00235a;
$title-text-color:#00235a;
$body-text-color: #adadad;
$paragraph-text-color: #adadad;
$title-opacity:#0b2c5f;
$border-color: #f3f3f3;
$fw-border: #1a335c;
$border-color-c: #123770;
$overly-primary: #082b63;


// Other color
$white: #fff;
$black: #191B1E;
$grey: #F7F7F7;
$dark: #151A30;
$dark-light: #222B45;
$facebook: #3b5998;
$twitter: #00acee;
$linkedin: #1976d2;
$pinterest: #3b5998;
$youtube: #c4302b;
$skype: #00aff0;
$box-shadow: rgba(149, 157, 165, 0.2);


// Responsive Variables
$xxl: '(max-width: 1800px)';
$xl: '(max-width: 1500px)';
$lg: '(max-width: 1199.98px)';
$md: '(max-width: 991.98px)';
$xs: '(max-width: 767.98px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

