@import 'variables';
@import 'mixins';

/*=============================
04. Portfoilo
=============================*/
.faq-area {
    background: $secondary-color;
    .faq-video {
        background: url(../img/images/faq-bg-01.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 700px;
        display: flex;
        justify-content: center;
        position: relative;
        .video-thumb {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $secondary-color;
            font-size: 18px;
            font-weight: 700;
            a {
                background: $white;
                border-radius: 50%;
                height: 120px;
                width: 120px;
                display: block;
                line-height: 120px;
                text-align: center;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .faq-content {
        margin-left: 125px;
        width: 550px;
        h2 {
            color: $white;
        }
        .progress-item {
            margin:185px 0 0 0;
            position: relative;
            overflow: hidden;
        }
        h5 {
            font-size: 14px;
            color: $white;
            margin-bottom: 20px;
        }
        .progress {
            height: 60px;
            border-radius: 0;
            background: $overly-primary;
            .progress-bar{
                background: $primary-color;
                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $white;
                    line-height: 1;
                    font-weight: 700;
                }
            } 
        }
    }
}